<mat-toolbar color="primary" class="ui-app-theme nav-bar">
  <div class="title">NG Nav</div>
  <div>
    <a mat-button [routerLink]="'/home'" routerLinkActive="active-link">
      Home
      <span class="nav-indicator"></span>
    </a>
  </div>
  <mat-label class="user-info">  {{ userName }}  </mat-label>
  <div fxLayoutAlign="end">
    <nav>
      <ul class="nav-menu">
        <li class="nav-item">
          <a mat-button [routerLink]="'/about'" routerLinkActive="active-link">
            About
            <span class="nav-indicator"></span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>
